<header class="header">
  <div class="nav-left">
    <span class="nav-item">
      <%= view.title %>
    </span>
  </div>
  <div class="nav-right">
    <a href="<%= viewSwitch.link %>" class="nav-item link">
      <%= viewSwitch.title %>
      <i class="icon <%= viewSwitch.icon %>"></i>
    </a>
  </div>
</header>