<footer class="footer">
  <span class="nav-item">
    Liczba odwiedzin: <%= viewCount %>
  </span>
  <% if (user) { %>
    <a href="/logout" class="link nav-item">
      Wyloguj się
      <i class="icon icon-sign-out"></i>
    </a>    
  <% } %>
</footer>