<header class="header">
  <% if (!user) { %>
    <div class="nav-left">
      <span class="nav-item">Zaloguj się</span>
    </div>
    <div class="nav-right">
      <a href="/add-account" class="nav-item link">
        Nowe konto
        <i class="icon icon-user-plus"></i>
      </a>
    </div>
  <% } else { %>
    <div class="nav-left">
        <span class="nav-item">Witaj, <%= user.username %>!</span>
        <span class="nav-item group-list" title="Twoje grupy">
          <%= user.groups.map(group => `${group.id} - ${group.name}`).join(' ') %>
          <i class="icon icon-info-circle"></i>
        </span>
    </div>
    <div class="nav-right">
      <span class="nav-item button header-dropdown-menu-toggle">
        <i class="icon icon-bars"></i>
      </span>
      <ul class="header-dropdown-menu">
        <li class="dropdown-menu-item">
          <a href="/upload-images" class="link nav-item">
            Dodaj obraz
            <i class="icon icon-image"></i>
          </a>
        </li>
        <li class="dropdown-menu-item">
          <a href="/logout" class="link nav-item">
            Wyloguj się
            <i class="icon icon-sign-out"></i>
          </a>        
        </li>
        <li></li>
      </ul>
    </div>
  <% } %>
</header>