<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/views/<%- view.name -%>/styles.css" rel="stylesheet" type="text/css">
  <title><%= view.title %></title>
</head>
<body>
  <%- include(view.name + '/index') -%>
</body>
<script src="/views/<%- view.name -%>/script.js"></script>
</html>