<form action="/auth/login" method="post">
  <div>
    <input type="text" name="username" placeholder="Użytkownik" />
  </div>
  <div>
    <input type="password" name="password" placeholder="Hasło" />
  </div>
  <div>
    <input type="submit" value="Zaloguj" />
  </div>
</form>
