<section class="form-container section">
  <form action="<%= form.action %>" method="post" class="form">
    <div>
      <input type="text" name="username" placeholder="Użytkownik" class="form-input" />
    </div>
    <div>
      <input type="password" name="password" placeholder="Hasło" class="form-input"/>
    </div>
    <div>
      <input type="submit" value="<%= form.submitValue %>" class="submit-button" />
    </div>
  </form>  
</section>
