@import url(/styles/reset.css);
@import url(/fonts/opensans/opensans.css);
@import url(/icons/icons.css);
@import url(__form.css);

body {
  margin: 0;
  font-family: 'Open Sans Light', sans-serif;
}

.header, .footer {
  background-color: #f1f1ef8c;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.nav-left, .nav-right {
  display: flex;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav-item.link {
  color: #000;
  display: flex;
  justify-content: space-between;
}

.nav-item.link:hover, .nav-item.button:hover {
  background-color: #efefef;
}

.group-list {
  cursor: help;
}

.header-dropdown-menu-toggle {
  cursor: pointer;
  position: relative;
}

.header-dropdown-menu {
  display: none;
  width: 10em;
  position: absolute;
  flex-direction: column;
  list-style: none;
  right: 0;
  top: 3rem;
  background-color: #fff;
}

.header-dropdown-menu.open {
  display: flex;
}

.dropdown-menu-item {
  border-top: 1px solid #efefef;
}

.section {
  margin: 1em 0;
}

.section-images {
  display: flex;
  flex-wrap: wrap;
}

.thumb {
  margin: .25em 0 0 .25em;
  width: 200px;
  height: 200px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: #000;
}
