@import url('../fonts/opensans/opensans.css');

body {
  margin: 0;
  font-family: 'Open Sans Light', sans-serif;
}

.header, .footer {
  background-color: #f1f1ef8c;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.header {
  margin: 0 0 1em 0;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav-item:hover {
  background-color: #efefef;
}

.main-content {
  box-sizing: border-box;
  padding: 0 0 0 1em;
}

.main-list {
  list-style: none;
  padding: 0 0 0 1rem;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin: 0 0 0 .25em;
}

.icon-external-link {
  background-image: url(../icons/font_awesome_external_link.svg);
}

.icon-sign-out {
  background-image: url(../icons/font_awesome_sign_out_alt.svg);
}